/.idea/.idea.CAPI/.idea/.gitignore
/CAPI/bin/Debug/net9.0/appsettings.Development.json
/CAPI/bin/Debug/net9.0/appsettings.json
/CAPI/bin/Debug/net9.0/Azure.Core.dll
/CAPI/bin/Debug/net9.0/Azure.Identity.dll
/CAPI/bin/Debug/net9.0/CAPI.deps.json
/CAPI/bin/Debug/net9.0/CAPI.dll
/CAPI/bin/Debug/net9.0/CAPI.exe
/CAPI/bin/Debug/net9.0/CAPI.pdb
/CAPI/bin/Debug/net9.0/CAPI.runtimeconfig.json
/.idea/.idea.CAPI/.idea/dataSources.xml
/.idea/.idea.CAPI/.idea/encodings.xml
/CAPI/bin/Debug/net9.0/EntityFramework.dll
/CAPI/bin/Debug/net9.0/EntityFramework.SqlServer.dll
/CAPI/bin/Debug/net9.0/Humanizer.dll
/.idea/.idea.CAPI/.idea/indexLayout.xml
/CAPI/bin/Debug/net9.0/Microsoft.AspNetCore.JsonPatch.dll
/CAPI/bin/Debug/net9.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/CAPI/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/CAPI/bin/Debug/net9.0/Microsoft.Build.Locator.dll
/CAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/CAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/CAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/CAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/CAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/CAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
/CAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/CAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/CAPI/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/CAPI/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/CAPI/bin/Debug/net9.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/CAPI/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/CAPI/bin/Debug/net9.0/Microsoft.Data.SqlClient.dll
/CAPI/bin/Debug/net9.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/CAPI/bin/Debug/net9.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/CAPI/bin/Debug/net9.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/CAPI/bin/Debug/net9.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/CAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/CAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
/CAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/CAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/CAPI/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/CAPI/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/CAPI/bin/Debug/net9.0/Microsoft.Identity.Client.dll
/CAPI/bin/Debug/net9.0/Microsoft.Identity.Client.Extensions.Msal.dll
/CAPI/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/CAPI/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/CAPI/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/CAPI/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/CAPI/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/CAPI/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/CAPI/bin/Debug/net9.0/Microsoft.SqlServer.Server.dll
/CAPI/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/CAPI/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
/CAPI/bin/Debug/net9.0/Mono.TextTemplating.dll
/CAPI/bin/Debug/net9.0/Newtonsoft.Json.Bson.dll
/CAPI/bin/Debug/net9.0/Newtonsoft.Json.dll
/CAPI/bin/Debug/net9.0/runtimes/win-arm64/native/sni.dll
/CAPI/bin/Debug/net9.0/runtimes/win-x64/native/sni.dll
/CAPI/bin/Debug/net9.0/runtimes/win-x86/native/sni.dll
/CAPI/bin/Debug/net9.0/System.ClientModel.dll
/CAPI/bin/Debug/net9.0/System.CodeDom.dll
/CAPI/bin/Debug/net9.0/System.Composition.AttributedModel.dll
/CAPI/bin/Debug/net9.0/System.Composition.Convention.dll
/CAPI/bin/Debug/net9.0/System.Composition.Hosting.dll
/CAPI/bin/Debug/net9.0/System.Composition.Runtime.dll
/CAPI/bin/Debug/net9.0/System.Composition.TypedParts.dll
/CAPI/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
/CAPI/bin/Debug/net9.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/CAPI/bin/Debug/net9.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/CAPI/bin/Debug/net9.0/System.Data.SqlClient.dll
/CAPI/bin/Debug/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/CAPI/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/CAPI/bin/Debug/net9.0/System.Drawing.Common.dll
/CAPI/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/CAPI/bin/Debug/net9.0/System.Memory.Data.dll
/CAPI/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/CAPI/bin/Debug/net9.0/System.Runtime.Caching.dll
/CAPI/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/CAPI/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
/CAPI/bin/Debug/net9.0/System.Security.Permissions.dll
/CAPI/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/CAPI/bin/Debug/net9.0/System.Windows.Extensions.dll
