

<form #createForm="ngForm" (ngSubmit)="createFriendship(createForm)">


  <div>
    <mat-form-field>
      <mat-label>User 1</mat-label>
      <input name="userId1"  ngModel matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User 2</mat-label>
      <input name="userId2"  ngModel matInput>
    </mat-form-field>
  </div>


  <button mat-raised-button type="submit">Create Friendship</button>

</form>


@if (data){


  <mat-card>
    <mat-card-header>
      <mat-card-title>Friendships</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <!-- Friendship ID Column -->
        <ng-container matColumnDef="friendshipId">
          <th mat-header-cell *matHeaderCellDef> Friendship ID </th>
          <td mat-cell *matCellDef="let element"> {{element.friendshipId}} </td>
        </ng-container>

        <!-- User ID 1 Column -->
        <ng-container matColumnDef="userId1">
          <th mat-header-cell *matHeaderCellDef> User ID 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.userId1}} </td>
        </ng-container>

        <!-- User ID 2 Column -->
        <ng-container matColumnDef="userId2">
          <th mat-header-cell *matHeaderCellDef> User ID 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.userId2}} </td>
        </ng-container>

        <!-- Created At Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Created At </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>


        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
          <button (click)="deleteFriendship(element.friendshipId)" mat-raised-button>delete</button>
          </td>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>



}
